@font-face {
  font-family: iransansx;
  src:
    url('./fonts/iransansx-Regular.woff2') format('woff2'),
    url('./fonts/IRANSansXFaNum-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: iransansx;
  src:
    url('./fonts/iransansx-Medium.woff2') format('woff2'),
    url('./fonts/IRANSansXFaNum-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: iransansx;
  src:
    url('./fonts/iransansx-Bold.woff2') format('woff2'),
    url('./fonts/IRANSansXFaNum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
