@import './utils/fonts/IransansX/IransansX.css';
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/nprogress/styles.css';

:root {
  --font-family-en: 'montserrat', sans-serif;
  --font-family-fa: 'iransansx', sans-serif;
}

[dir='ltr'] {
  font-family: var(--font-family-en);
}

[dir='rtl'] {
  font-family: var(--font-family-fa);
}

/* other mantine packages */

/* @import "@mantine/dates/styles.css"; */

/* @import "@mantine/charts/styles.css"; */

/* @import "@mantine/code-highlight/styles.css"; */

/* @import "@mantine/spotlight/styles.css"; */

/* @import "@mantine/carousel/styles.css"; */

/* @import "@mantine/dropzone/styles.css"; */

/* @import "@mantine/tiptap/styles.css"; */
